{% extends 'base.html' %}
{% block content %}

<h1 class="cart-title">Your Cart</h1>

{% if cart_items %}
    <div class="cart-items-container">
        {% for i in range(0, cart_items|length, 3) %}
            <div class="cart-row">
                {% for item in cart_items[i:i+3] %}
                    <div class="cart-item">
                        <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}">
                        <div class="cart-details">
                            <h2>{{ item.name }}</h2>
                            <p>{{ item.description | safe }}</p>
                            <p>Price: ${{ item.price }}</p>
                        </div>

                        <div class="button-container">
                            <form action="{{ url_for('payment_gateway') }}" method="GET">
                                <button type="submit" class="btn">Buy Now</button>
                            </form>
                            
                            <form action="{{ url_for('remove_from_cart', product_id=item.id) }}" method="POST">
                                <button type="submit" class="btn">Remove from Cart</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div> <!-- End of cart-row -->
        {% endfor %}
    </div>
{% else %}
    <p>Your cart is empty!</p>
{% endif %}

{% endblock %}
